
.deck {
  display: flex;
  min-width: 13.75rem;
  max-width: 20.625rem;
  padding: 1.5rem 1.375rem;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
  
  border-radius: 0.75rem;
  background-color: var(--tertiary);

  border: var(--border-unselected)
}

.deck:hover {
    border: var(--border-hover);
    cursor: pointer;
}

.deck.selected {
  border: var(--border-selected);
}

.deck .cardcount {
  flex: 1 0 0;
  color: var(--quaternary);
  text-align: right;
}

.button {
  display: flex;
  padding: 0.625rem 1.875rem;
  align-items: flex-start;
  gap: 0.5rem;

  border-radius: 0.75rem;
}

.button.enabled {
  color: var(--background);
  background-color: var(--secondary);
  border: var(--border-unselected);
  font-weight: 600;
}

.button.enabled:hover {
  border: var(--border-hover);
  color: var(--primary);
  cursor: pointer;
}

.button.enabled:focus {
  border: var(--border-selected);
}

.button.disabled { 
  color: var(--quaternary);
  background-color: var(--tertiary);
  border: var(--border-unselected);
  cursor: not-allowed;
}


.frame {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  position: relative;
}

.title-red {
  color: var(--secondary);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  align-items: flex-start;
  position: relative;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 1 0 0;
  align-self: stretch;
}

.list .label {
  padding-top: 1rem;
  padding-left: 0.5rem;
}

